@model CLTWebUI.Models.Match.MatchViewModel

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Match"))
        {
            <div class="form-group">
                
            </div>
            <button type="submit" class="btn btn-primary disabled" disabled>Přidat</button>
        }
    </div>
</div>
