body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #004400;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.shorteralert{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.marginRight30{
    margin-right: 30px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
    color: #8DCF8A;
}

/* 5AAC56 */
.btn-primary {
    color: #8DCF8A;
    background-color: #004400;
    border-color: #156711;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    color: #ffffff;
    background-color: #156711;
    border-color: #156711;
}

.panel-default > .panel-heading {
    background-color: #156711;
    color: #8DCF8A;
}

a, a:hover, a:active, a:focus {
    color: #004400;
}

.badge {
    background-color: #004400;
}

.bggreen {
    background-color: #338A2E;
}

.lightest-green, .list-group-item, .panel-default, .dropdown-menu{
    background-color: #d7ebd6;
}

footer {
    background-color: #8DCF8A !important; 
    padding-top: 10px !important; 
    padding-bottom: 4px !important;
}

.well {
    border-color: #338A2E;
}