@model CLTWebUI.Models.Competitions.AddCompetitionViewModel

<h2>Přidání soutěže</h2>
<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Add","Competitions"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.name)
                @Html.TextBoxFor(m => m.name, new { @Class = "form-control"})
                @Html.ValidationMessageFor(m => m.name)
            </div>
            <button type="submit" class="btn btn-primary">Přidat</button>
        }
    </div>
</div>
