@using CLTWebUI.Models
<div id="applicationMessages" class="row">
    <div class="col-md-12">
        <br />
        @if (TempData["AppMessages"] != null)
        {
            var messages = TempData["AppMessages"] as List<AppMessage>;
            foreach (var message in messages)
            {
                string cssclass = "alert";
                switch ((int)message.Severity)
                {
                    case 1:
                        cssclass += " alert-success";
                        break;
                    case 2:
                        cssclass += " alert-info";
                        break;
                    case 3:
                        cssclass += " alert-warning";
                        break;
                    case 4:
                        cssclass = "alert alert-danger";
                        break;
                }
                <div class="@cssclass alert-dismissible shorteralert" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @message.Text
                </div>
            }
        }
    </div>
</div>

