@{
    ViewBag.Title = "Domácí stránka";
}

<div class="jumbotron">
    <h1>Chaos League Tracking System</h1>
    <p>@ViewBag.Results</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>---</h2>
        <p>Whenever-wherever</p>
    </div>
</div>