@model CLTWebUI.Models.Team.TeamListViewModel
<div>
    @if (Model.fixtures != null)
    {
        foreach (var fgroup in Model.fixtures)
        {
        <ul class="list-group">
            <li class="list-group-item"><b>Kolo: @fgroup.Key</b></li>
            @foreach (var fixture in fgroup)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">@fixture.Teams.Name</div><div class="col-md-1"> vs </div><div class="col-md-2"> @fixture.Teams1.Name</div>
                    </div>
                </li>
            }
        </ul>
        }
    }
    @Html.ActionLink("Generuj", "GenerateFixtures","Fixture", new { groupid = Model.group.ID}, null)
</div>