<div class="well">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon glyphicon-hand-right marginRight30"> </span> @Html.ActionLink("Administrace týmů", "Index", "Team")
        </li>
        <li class="list-group-item">
            <span class="glyphicon glyphicon-hand-right marginRight30"> </span> @Html.ActionLink("Administrace soutěží", "Admin", "Competitions")
        </li>
    </ul>
</div>

