@{
    ViewBag.Title = "Přehled týmů";
}

<div>
    <a class="btn btn-default" href="/Team/Add">Přidat nový tým</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Jméno týmu</th>
            <th>Vlastník</th>
            <th>Soutěž</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var team in ViewBag.Teams)
        {
            <tr>
                <td>@i</td>
                <td>@Html.ActionLink((string)team.Name, "Detail", "Team", new { teamid = team.ID }, null)</td>
                <td>@team.Users.Name</td>
                <td>...
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
